:root{
    --color-primary: #2758d7;
    --color-secondary: #00a148;
    --color-bg-numbers: #ff672e;
    --color-numbers: #ffbf00;
}


body{
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: top;
    font-family: 'Fredoka', sans-serif;
}
main {
    padding-top: 200px;
}
main h1{
    font-weight: 900;
    font-size: 6em;
    color: var(--color-primary);
}
#countdown-box h2, #input-box h2 {
    color: var(--color-secondary);
    font-weight: 700;
}

#box-numbers, #win-box {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    font-size: 3em;
    width: max-content;
    margin: 0 auto;
    border: 5px solid var(--color-bg-numbers);
}

#win-box {
    font-size: 2em;
}

#attribution {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

.btn {
    font-size: 2em;
}

.user-number {
    border-radius: 10px;
    padding: 10px 0;
    font-size: 3em;
    text-align: center;
    border: 5px solid var(--color-bg-numbers);
}

.user-number:focus {
    border: 3px solid var(--color-bg-numbers);
}